
<!DOCTYPE html>
<html>
<head th:include="include :: head"></head>
	<body class="white-bg">
		<div class=" animated fadeInRight ibox-content">
			<div class="row">
				<form class = "form-horizontal" id="roleEdit" >
					<div class="col-lg-6 col-md-6 col-sm-6 form-group">
						<label class="col-sm-4 col-md-4 col-lg-4 control-label">编号：</label>
						<div  class="col-lg-8 col-md-8 col-sm-8">
							<input class="form-control" type= "hidden" id = "code" name = "code" th:value="${role.code}" >
							<span style="line-height: 25px" th:text="${role.code}"></span>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 col-sm-6 form-group">
						<label class="col-sm-4 col-md-4 col-lg-4 control-label">角色名称：</label>
						<div  class="col-lg-8 col-md-8 col-sm-8">
							<input class="form-control" type= "text" id = "roleName" name = "roleName" th:value="${role.roleName}" >
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 col-sm-6 form-group">
						<label class="col-sm-4 col-md-4 col-lg-4 control-label">状态：</label>
						<div  class="col-lg-8 col-md-8 col-sm-8">
							<div class="onoffswitch">
                         		<input type="checkbox" th:checked="${role.status == 0 ? true : false}" class="onoffswitch-checkbox" id="status" name="status">
                         		<label class="onoffswitch-label" for="status">
                             		<span class="onoffswitch-inner"></span>
                            		<span class="onoffswitch-switch"></span>
                         		</label>
                     		</div>
						</div>
					</div>
					
					<div style="margin-left: -20px" class="form-group col-lg-12 col-md-12 col-sm-12">
                    	<label class="col-sm-2 col-md-2 col-lg-2 control-label">描述：</label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                        	<textarea id="remark" name="remark" class="form-control" required="" th:text="${role.remark}" aria-required="true"></textarea>
                        </div>
                    </div>
                            
					<div class="form-control-static col-lg-4 col-md-4 col-sm-4 col-sm-offset-8 col-md-offset-8 col-lg-offset-8" >
						<div class="form-control-static">
							<button type="submit" class="btn btn-primary">提&nbsp;&nbsp;交</button>
							<button th:onclick="'javascript:layer_close()'" class="btn btn-danger" type="button">关&nbsp;&nbsp;闭</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div th:include="include :: foot"></div>
		<div th:include="include :: foot_form"></div>
		<script src="/project/js/role/editRole.js"></script>
	</body>
</html>
