<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head th:include="include :: head"></head>
<link th:href="@{/js/plugins/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
    	<p>选择菜单树</p>
    	<div>
  	 		<ul id="treeDemo" class="ztree"></ul>
		</div>
    </div>
    <div th:include="include :: foot"></div>
    <script th:src="@{/js/plugins/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
    <script th:inline="javascript">
  
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {
    	treeId:"",
    	treeObj: null,
    //	async: {
    //		enable: false,
    //		url: "",
    //		autoParam: ["id"],
    //		dataType: "text",
    //		type:"post"
    //	},
    	view: {
            showLine: false,		//显示连接线 
            showIcon: true,			//显示节点图片 
            dblClickExpand: true,	//双击展开、收缩节点
            fontCss: {color:"black"}  //字体样式
        },
    	edit: {
    		//drag: {
    		//	autoExpandTrigger: true
    		//},
    		enable: false,
    		editNameSelectAll: true, // 编辑节点名称时是否全选中节点文字
    		removeTitle: setRemoveTitle,	// 当鼠标放到删除按钮上时的提示信息
    		renameTitle: "编辑节点名称",
    		showRemoveBtn: true,
    		showRenameBtn: true
    	},
    	callback: {
    		onClick: changeParentmenu
    	}
    };

    var zNodes = $.parseJSON('[' + getTreeNodes() + ']');

    $(document).ready(function(){
       zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    });
    function setRemoveTitle(treeId, treeNode) {
    	return treeNode.isParent ? "删除父节点":"删除叶子节点";
    }
    function getTreeNodes() {
    	var treeData;
    	$.ajax({
    		type: "GET",
    		async:false,
    		url: "getMenuTreeNodes",
    		success: function(data) {
    			treeData = data;
            }
    	});
    	return treeData;
    }
    
    function changeParentmenu(event, treeId, treeNode) {
    	//alert($(parent.document).find("input[name='operation']").val());
    	if('edit' == $(parent.document).find("input[name='operation']").val()) {
    		var menuLevel = treeNode.menuLevel + 1;
    		$(parent.document).find("input[name='menuLevel']").val(menuLevel);
    	}else{
    		$(parent.document).find("input[name='menuLevel']").val(treeNode.menuLevel);
    	}
    	$(parent.document).find("input[name='parentId']").val(treeNode.id);
    	$(parent.document).find("input[name='parentId']").parent().find("span").html(treeNode.name);
    	$(parent.document).find("input[name='parentId']").parent().find("#menuTree").val(treeNode.name);
    	layer_close();
    }
    
	</script>
</body>
</html>
