<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>

	<!--
		<ul th:with="cla=${menu.menuType == 'M' ? (menu.menuLevel==1 ? 'nav nav-third-level Z' : (menu.menuLevel==2 ? 'nav nav-second-level B' : 'nav nav-third-level Y')) : 'nav nav-second-level X'}" th:class= "${cla}" class="nav nav-second-level" th:fragment="son_menu(menu)">
	-->
	<!--
	<ul class="nav nav-second-level" th:fragment="son_menu(menu)">
	-->
	<ul th:if="${menu.childMenu != null}" th:with="cla=${menu.menuType == 'M' ? (menu.menuLevel==2 ? 'nav nav-third-level BB' : 'nav nav-second-level CC second-menu') : 'nav nav-second-level AA'}" th:class= "${cla}" class="nav nav-second-level" th:fragment="son_menu(menu)">
		 <!--<span th:text="${cla} + ${menu.menuLevel} + ${menu.menuType}"></span> -->
		<li th:each="menu:${menu.childMenu}">
             <a class="J_menuItem"  th:href="@{${menu.url}}" th:text="${menu.menuName}"></a>
        	 <ul th:replace="temple_fragments::son_menu(${menu})">

             </ul>
        </li>
    </ul>
</body>
</html>
